body {
  background-color: #000;
}

.camera-stream {
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

  object-position: 50% 0;
}
